* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  background-image: url(images/bg-hero-desktop.svg);
  padding: 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trial-link:link {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 60px;
  border-radius: 30px;
  box-shadow: 0 0 10px #0000002c;
}

.roww {
  display: flex;
  align-items: center;
}
